@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/requests-and-handlers.js")

<h2>Index</h2>

<script>
    $(document).ready(function () {
        $('#results').css('overflow', 'auto');
        $('#saveBookForm').submit(function (event) {
            event.preventDefault();
            onSaveBookButtonClick();
        });
    });
    sendGetListAjax('@Url.Action("GetBooks", "Home")');
</script>


<div id="results" style="align-items: center"></div>
<br />

<form id="saveBookForm" method="post">
</form>

<br />
<br />

<input type="button" class="btn" value="Add New" onclick="addBookForm()" />
<input type="button" class="btn" value="Clear Books List" onclick="onClearBooksClick()" />

<script>
    function onSaveBookButtonClick() {
        data = $('#saveBookForm').serialize();
        sendAjax('@Url.Action("SaveBook", "Home")', data);
    }

    function onClearBooksClick() {
        sendAjax('@Url.Action("ClearBooks", "Home")', null);
    }
</script>
