@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/requests-and-handlers.js")

<h2>Index</h2>

<script>
    sendGetListAjax('@Url.Action("GetBooks", "Home")');
</script>


<div id="results"></div>
<br />
<input type="button" value="Add New" onclick="addBookForm()" />
<br />
<br />

<script>
    function onAddButtonClick() {
        alert('HERE');
        data = {
            Name: $('#forWriting').find("input[name*='Name']").val(),
            PageCount: $('#forWriting').find("input[name*='PageCount']").val(),
            Author: $('#forWriting').find("input[name*='Author']").val(),
            ReceivingDate: $('#forWriting').find("input[name*='ReceivingDate']").val()
        };
        alert(data);
        sendSaveBookAjax('@Url.Action("SaveBook", "Home")', data);
    }
</script>
<div id="bookForm">
    <input type="button" value="Add" onclick="onAddButtonClick()" />
</div>


@*@using (Ajax.BeginForm("SaveBook", new AjaxOptions() { UpdateTargetId = "results", OnSuccess = "onAjaxSuccess" }))
{
    <input type="submit" value="Add" />
}*@