@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Scripts/requests-and-handlers.js")

<h2>Index</h2>

<script>
    sendGetListAjax('@Url.Action("GetBooks", "Home")');
</script>


<div id="results" style="align-items: center"></div>
<br />

<input type="button" value="Add" onclick="onAddButtonClick()" />

<br />
<br />

<input type="button" value="Add New" onclick="addBookForm()" />

<script>
    function onAddButtonClick() {
        data = $('#bookForm').serialize();
        sendSaveBookAjax('@Url.Action("SaveBook", "Home")', data);
    }
</script>
