
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index</h2>

<script>
    $.ajax({
        url: '@Url.Action("GetBooks", "Home")',
        type: 'GET',
        success: function (data) {
            $('#results').html(data);
            $('table').dblclick(addBookForm);
        },
        error: function (data) {
            alert('FAIL');
        }
    });

    function addBookForm() {
        if ($('#forWriting').length) {
            alert('Already added');
            return;
        }
        var newFormItem = '<tr id="forWriting"><td><input type="text" name="Name" /></td>';
        newFormItem += '<td><input type="number" name="PageCount" /></td>';
        newFormItem += '<td><input type="text" name="Author" /></td>';
        newFormItem += '<td><input type="text" name="ReceivingDate" /></td></tr>';
        $('tbody').append(newFormItem).slideDown(6000);
    }
</script>


<div id="results"></div>
<br />
<input type="button" value="Add New" onclick="addBookForm()" />
<br />
<br />
@using (Ajax.BeginForm("AddBook", new AjaxOptions() { UpdateTargetId = "results" }))
{
    <input type="submit" value="Add" />
}